#mobile-map {
    /*height: 23.8262875svh;*/
    display: flex;
    justify-content: center;
    /*height: 23.8262875svh;*/
    width: 90vw;
    height: 49.3548387098vw;
    position: relative;
}

#mobile-map-img {
    width: 90vw;
    height: 49.3548387098vw;
}

#mobile-map-carts {
    width: 100%;
}

#mobile-map-carts .slick-dots > li, #mobile-map-carts .slick-dots > li > button, #mobile-map-carts .slick-dots > li > button::before {
    width: 2px;
    height: 10px;
}

#mobile-map-carts .slick-dots {
    font-size: 20px;
    bottom: 10px;
    color: white;
    position: unset;
    margin-top: var(--1g);
    height: var(--1h);
}

#mobile-map-carts .slick-list {
    height: calc(var(--svh) * 47.652575);
}

#mobile-map-carts .slick-slide {
    height: calc(var(--svh) * 47.652575);
    padding-left: 10px;
    padding-right: 10px;
}

#mobile-map-carts {
    margin-top: calc(var(--svh) * 9.5070405);
}

#mpoint1 {
    top: 75%;
    left: 87%;
}

#mpoint2 {
    top: 61%;
    left: 0.6%;
}

#mpoint3 {
    top: 45%;
    left: 18%;
}

#mpoint4 {
    top: 68%;
    left: 13%;
}

#mpoint5 {
    top: 66%;
    left: 28%;
}

#mpoint6 {
    top: 75%;
    left: 43%;
}

#mpoint7 {
    top: 20%;
    left: 55%;
}

#mpoint8 {
    top: 30%;
    left: 91%;
}

#mpoint9 {
    top: 83%;
    left: 48%;
}

#mpoint10 {
    top: 47%;
    left: 38%;
}

#mpoint11 {
    top: 62%;
    left: 34%;
}

#mpoint12 {
    top: 69%;
    left: 22%;
}

.zoom-effect {
    transform: scale(2) translateY(-17%) !important;
}