/*.cart4-link::before {*/
/*    content: "→";*/
/*    !*font-style: italic;*!*/
/*    !*font-family: "Fira Sans";*!*/
/*}*/

.cart4-heading {
    grid-row: 1/2;
}

.cart4-link {
    display: flex;
    align-items: end;
    /*justify-content: end;*/
    padding-bottom: 4%;
    padding-right: 2%;
}

@media only screen and (width <= 767px) {
    .cart4-link {
        justify-content: end;
    }
}

.cart4-link-a {
    display: flex;
    align-items: center;
}

.cart4-value {
    padding-right: 9%;
    grid-row: 2/3;
}